# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v3.4.0'
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
  - repo: https://github.com/psf/black
    rev: '20.8b1'
    hooks:
      - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.4'
    hooks:
      - id: flake8
  - repo: https://github.com/PyCQA/doc8
    rev: '0.9.0a1'
    hooks:
      - id: doc8
  - repo: https://github.com/PyCQA/isort
    rev: '5.7.0'
    hooks:
      - id: isort
  - repo: https://github.com/nbQA-dev/nbQA
    rev: '0.5.6'
    hooks:
      - id: nbqa-black
        args: [ --nbqa-mutate, --line-length=75 ]
      - id: nbqa-check-ast
  - repo: https://github.com/asottile/blacken-docs
    rev: 'v1.9.1'
    hooks:
      - id: blacken-docs
