# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.5.0'
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-ast
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: detect-private-key
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.1.9'
    hooks:
      - id: ruff
        args: [ --fix, --exit-non-zero-on-fix ]
  - repo: https://github.com/psf/black
    rev: '23.12.1'
    hooks:
      - id: black
  - repo: https://github.com/keewis/blackdoc
    rev: v0.3.9
    hooks:
      - id: blackdoc
  - repo: https://github.com/PyCQA/doc8
    rev: 'v1.1.1'
    hooks:
      - id: doc8
        additional_dependencies: ['pygments-csv-lexer']
  - repo: https://github.com/nbQA-dev/nbQA
    rev: '1.7.1'
    hooks:
      - id: nbqa-black
        args: [ --nbqa-mutate, --line-length=75 ]
      - id: nbqa-check-ast
  - repo: https://github.com/asottile/blacken-docs
    rev: '1.16.0'
    hooks:
      - id: blacken-docs
